<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Netflix Clone iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D8067B82AD11DBE00F8804A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8067CE2AD11DC000F8804A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8067D82AD11DC000F8804A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
